
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet'
          href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2023.1.117/styles/kendo.default-ocean-blue.min.css">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.1.117/js/kendo.all.min.js"></script>

    <link rel="stylesheet" href="~/assets/css/style.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <title>Colorado Luxury</title>

</head>

<body>
            @RenderBody()
            <!-- Footer Start -->
            <footer>
                <div class="container footer">
                    <div class="col-lg-12">
                        <div class="row">

                            <div class="col-lg-4">
                                <address>
                                    <h3>Contact Info</h3>
                                    <p>Email: ea@coloradoluxurytransportation.com</p>
                                    <p>Number: +1 (720) 715-3590</p>
                                </address>
                            </div>
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4">
                                <img src="https://img.icons8.com/ios/40/B59E2E/facebook-new.png" />
                                <img src="https://img.icons8.com/ios/40/B59E2E/twitter-circled--v1.png" />
                                <img src="https://img.icons8.com/ios/40/B59E2E/instagram-new--v1.png" />
                            </div>
                        </div>
                    </div>

                </div>
            </footer>
            <!-- Footer End -->
            <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script> -->


            <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.js'></script>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>


   

            <script src="~/assets/js/script.js"></script>
            <script src="~/assets/js/scriptTwo.js"></script>
  
    @RenderSection("scripts", required: false)
</body>

</html>
