<div v-show="currentstep == 1">
    <h1> Enter Ride Details</h1>
    <div class="row">

        <div class="col-lg-1"></div>

        <div class="col-lg-10 backroundAndBorderTema  ">

            <div class="row">
                <div class="col-lg-5 ">
                    <div class="btnsDistanceAndHourly">
                        <button type="button" id="distance"
                                class="btn btn change ">
                            Distance
                        </button>
                        <button type="button" id="hourly"
                                class="btn btn change float-right">
                            Hourly
                        </button>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 date">
                            <div class="form-group">
                                <label for="dateTime"> Pickup date </label>
                                <input type="date" name="dateTime"
                                       style="padding-right: 5px;" class="form-control"
                                       id="pickupDate">
                                <span class="error" id="dateError">Cannot be left blank </span>
                                <span class="good" id="dateGood">Good look </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="dateTime"> Pickup time </label>
                                <input type="time" name="time" class="form-control"
                                       placeholder="00:00" id="time">
                                <span class="error" id="timeError">Cannot be left blank </span>
                                <span class="good" id="timeGood">Good look </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label> Pickup location </label>
                        <input type="text" class="form-control" id="pickuplocation" placeholder="Write Location" />
                        <span class="error" id="pickupError">Cannot be left blank </span>
                        <span class="good" id="pickupGood">Good look </span>
                    </div>
                    <div>
                        <div id="DropLocation" class="form-group">
                            <label> Drop-off location </label>
                            <input type="text" class="form-control" id="dropOffLocation" placeholder="Write Location" />
                            <span class="error" id="dropError">Cannot be left blank </span>
                            <span class="good" id="dropGood">Good look </span>
                        </div>
                        <div class="form-group transferType" style="margin-bottom: 0px;">
                            <div id="TransferType" class="form-group ">
                                <label> Transfer Type </label>
                                <select id="transferType" class="form-select form-control"
                                        aria-label="Default select example">
                                    <option value="" selected>Open this select menu</option>
                                    <option value="1">One Way</option>
                                    <option value="2">Return</option>
                                    <option value="3">Return (New ride)</option>
                                </select>
                                <span class="error" id="transferTypeError">Cannot be left blank </span>
                                <span class="good" id="transferTypeGood">Good look </span>
                            </div>
                            <div id="durationInHours" class="form-group">
                                <label> DURATION (IN HOURS) </label>
                                <select id="durationInHoursSelected" class="form-select form-control"
                                        aria-label="Default select example">
                                    <option value="" selected>Open this select menu</option>
                                    <option value="1">1 hour(s)</option>
                                    <option value="2">2 hour(s)</option>
                                    <option value="3">3 hour(s)</option>
                                    <option value="4">4 hour(s)</option>
                                    <option value="5">5 hour(s)</option>
                                    <option value="6">6 hour(s)</option>
                                    <option value="7">7 hour(s)</option>
                                    <option value="8">8 hour(s)</option>
                                    <option value="9">9 hour(s)</option>
                                    <option value="10">10 hour(s)</option>
                                    <option value="11">11 hour(s)</option>
                                    <option value="12">12 hour(s)</option>
                                    <option value="13">13 hour(s)</option>
                                    <option value="14">14 hour(s)</option>
                                    <option value="15">15 hour(s)</option>
                                    <option value="16">16 hour(s)</option>
                                    <option value="17">17 hour(s)</option>
                                    <option value="18">18 hour(s)</option>
                                    <option value="19">19 hour(s)</option>
                                    <option value="20">20 hour(s)</option>
                                    <option value="21">21 hour(s)</option>
                                    <option value="22">22 hour(s)</option>
                                    <option value="23">23 hour(s)</option>
                                    <option value="24">24 hour(s)</option>
                                </select>

                                <span class="error" id="durationHoursError">Cannot be left blank </span>
                                <span class="good" id="durationHoursGood">Good look </span>
                            </div>
                            <!-- <div class="row">
                                <div class="col-lg-6 date">
                                    <div class="form-group">
                                        <label for="dateTime"> Pickup date </label>
                                        <input type="date" style="padding-right: 5px;"
                                            name="dateTime" class="form-control"
                                            placeholder="EX:01/01/2023">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="dateTime"> Pickup time </label>
                                        <input type="time" name="time" class="form-control"
                                            placeholder="00:00">
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <hr>
                        <label>EXTRA OPTIONS</label>
                        <div class="form-group" id="extraTime">
                            <label> Extra Time </label>
                            <select class="form-select form-control"
                                    aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">1 hour(s)</option>
                                <option value="2">2 hour(s)</option>
                                <option value="3">3 hour(s)</option>
                                <option value="4">4 hour(s)</option>
                                <option value="5">5 hour(s)</option>
                                <option value="6">6 hour(s)</option>
                                <option value="7">7 hour(s)</option>
                                <option value="8">8 hour(s)</option>
                                <option value="9">9 hour(s)</option>
                                <option value="10">10 hour(s)</option>
                                <option value="11">11 hour(s)</option>
                                <option value="12">12 hour(s)</option>
                            </select>
                        </div>
                        <div id="forHourlyDropLocation" class="form-group forHourlyDropLocation">
                            <label> Drop-off location </label>
                            <input type="text" class="form-control" id="forHourlydropOffLocation" placeholder="Write Location" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 ">
                    <!-- Google-Map -->
                    <label>Map Address </label>
                    <div id="map">
                    </div>

                    <div class="map-info">
                        <span class="map-distance"></span>
                        <span class="map-time"></span>

                    </div>
                    <!-- END Google-Map -->
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>

    </div>
</div>

<script src="~/lib/jquery/jquery3.6.4/jquery3.6.4.js"></script>


<script src="~/assets/js/gstatic_map.js" ></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWFaXe1jb_OA_rrIUSZpOoNgda6POtJyA&callback=initMap&libraries=places&v=weekly" defer></script>
