<div v-show="currentstep == 4">
                                <h1>Booking Summary</h1>
                                <div class="col-lg-12 backroundAndBorderTema BookingSummary">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <h4>Contact & Billing Info</h4>
                                            <div class="invoiceContent">FIRST NAME <span>Kamran</span></div>
                                            <div class="invoiceContent">LAST NAME <span>Alibayli</span></div>
                                            <div class="invoiceContent">EMAIL <span>Alibayli</span></div>
                                            <div class="invoiceContent">PHONE NUMBER <span>Alibayli</span></div>
                                            <hr>
                                            <div class="invoiceContent">COMPANY NAME <span>Alibayli</span></div>
                                            <div class="invoiceContent">TEX NUMBER <span>Alibayli</span></div>
                                            <hr>
                                            <div class="invoiceContent">BILLING ADDRESS <span>Alibayli</span></div>
                                            <hr>
                                            <h4>Payment Method</h4>
                                            <div class="invoiceContent">YOUR CHOICE <span>Stripe </span></div>
                                            <hr>
                                            <h4>Arrival Airline info</h4>
                                            <div class="invoiceContent">AIRLINE <span>Aeromexico</span></div>
                                            <div class="invoiceContent">FLIGHT NUMBER <span>89898</span></div>
                                            <hr>
                                            <div class="invoiceContent">COMMENTS <span>fgxhfghfghfghfgh </span></div>
                                        </div>
                                        <div class="col-lg-4">
                                            <h4>Ride details</h4>
                                            <div class="invoiceContent">SERVICE TYPE <span>Hourly</span></div>
                                            <hr>
                                            <div class="invoiceContent">
                                                PICKUP LOCATION <span>
                                                    Breckenridge, CO,
                                                    USA
                                                </span>
                                            </div>
                                            <hr>
                                            <div class="invoiceContent">
                                                DROP OFF LOCATION <span>
                                                    Arrowhead, CO,
                                                    USA
                                                </span>
                                            </div>
                                            <hr>
                                            <div class="invoiceContent">
                                                PICKUP DATE, TIME <span>
                                                    25-03-2023, 1:30
                                                    am
                                                </span>
                                            </div>
                                            <hr>
                                            <div class="invoiceContent">TOTAL DISTANCE <span>0 mi</span></div>
                                            <div class="invoiceContent">TOTAL TIME <span>2 h 0 m</span></div>
                                        </div>
                                        <div class="col-lg-4">
                                            <h4>Vehicle info</h4>
                                            <div class="invoiceContent">VEHICLE <span>Luxury Sedan</span></div>
                                            <hr>
                                            <div class="invoiceContent">
                                                EXTRA OPTIONS <span>
                                                    1 x Child Seat -
                                                    $0.00
                                                </span>
                                            </div>
                                        <hr>
                                        <h4 id="bettingTitleH4">For Driver Betting</h4>
                                        <div class="mainBetDriver" id="betting">
                                   <div id="bettButtons">
                                                <input type="button" id="btn0" :class="[{'active1': selected === 'f'},'bettingMonyBtn']" @@click="selected = 'f'"
                                                       value="0" /> 
                                            <input type="button" id="btn10" :class="[{'active1': selected === 'a'},'bettingMonyBtn']" @@click="selected = 'a'"
                                                   value="10"  />
                                            <input type="button" id="btn20" :class="[{'active1': selected === 'b'},'bettingMonyBtn']" @@click="selected = 'b'"
                                                   value="20" />
                                            <input type="button" id="btn30" :class="[{'active1': selected === 'c'},'bettingMonyBtn']" @@click="selected = 'c'"
                                                   value="30" />
                                            <input type="button" id="btn40" :class="[{'active1': selected === 'd'},'bettingMonyBtn']" @@click="selected = 'd'"
                                                   value="40" />
                                            <input type="button" id="btn50" :class="[{'active1': selected === 'e'},'bettingMonyBtn']" @@click="selected = 'e'"
                                                   value="50" />
                                   </div>
                                               <div>
                                                <p style="font-size: 15px; margin-bottom: 0px;  margin-top: 16px;">If you want to write a special price, please tick here.</p>
                                                <input type="checkbox" id="customPriceActive" style="width:23px; height:23px;
    float: right;
    margin-bottom:25px;" />
                                               </div>
                                            <div id="customPrice" style="margin-top:42px; opacity:0.1;">
                                            <label class="form-label" >Custom Price</label>
                                            <div style="display:flex">
                                                    <input type="number" id="forDriveBett" style="margin-right: 10px" class="form-control" disabled />

                                                <button id="customBettAddBtn" type="button" style=" float: right; display:none" class="btn btn-outline-warning">
                                                    Add
                                                </button>
                                            </div>
                                                <span id="customBettSuccessfullAlert" style="font-size: 14px;color: #03cb03; margin-bottom: 0px;  margin-top: 16px; display:none;">The bet you want has been successfully added</span>
                                                <span id="customBettErrorAlert" style="font-size: 14px;color: red; margin-bottom: 0px;  margin-top: 16px; display:none;">You can't leave it blank </span>
                                            </div>
                                            <div  style="margin-top:42px;">
                                                <label class="form-label">Discount Cuppon</label>
                                                <p style="    font-size: 14px;
    color: white;
    margin-bottom: 8px;
    margin-left: 1px;">If you have a discount coupon, write it here.</p>
                                                <div class="discountInputAndBtn" style="display:flex">
                                                    <input type="text" class="form-control" style="height: 38px;
    margin-right: 10px;font-size: 20px; font-weight: bold;" />

                                                    <button  type="button" style="float: right;     margin-right: 10px;" class="btn btn-outline-warning">
                                                    Add
                                                </button>
                                                </div>
                                                   
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12  totalPrice  ">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <p>Selected vehicle</p>
                                            <p>Gratuity</p>
                                            <hr>
                                            <p>Total</p>
                                        </div>
                                        <div class="col-lg-7">
                                            <hr>
                                        </div>
                                        <div class="col-lg-2">
                                            <p>$ 324.00</p>
                                            <p>$ 60.00</p>
                                            <hr>
                                            <p id="totalPrice">384</p>
                                        </div>
                                    </div>
                                </div>
                            </div>