@model ColoradoLuxury.Models.BLL.VehicleType
@{
    ViewData["Title"] = "AddVehicleType";
    Layout = "~/Areas/WebCms/Views/Shared/_Layout.cshtml";
}
<style>
    .col-md-4 form .col-sm-12 {
        margin-bottom:20px;
    }
</style>
<link href="/admin/css/vehicletype.css" />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form class="form-horizontal" asp-action="AddVehicleType" role="form" method="post">
            <fieldset>

                <!-- Form Name -->
                <legend style="width:44%;">Add Vehicle Type</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-6 control-label" for="textinput">Type Name</label>
                    <div class="col-sm-12">
                        <input type="text" placeholder="write name..."  asp-for="TypeName"  class="form-control">
                        <span asp-validation-for="TypeName" class="text-danger"></span>
                    </div>
                    <label class="col-sm-6 control-label" for="textinput">Distance Price</label>
                    <div class="col-sm-12">
                        <input type="text" placeholder="For Duration" name="PerMile" id="permile" class="form-control">
                        <span asp-validation-for="PerMile" class="text-danger"></span>
                    </div>
                    <label class="col-sm-6 control-label" for="textinput">Hourly Price</label>
                    <div class="col-sm-12">
                        <input type="text" placeholder="For Hourly" asp-for="Hourly" class="form-control">
                        <span asp-validation-for="Hourly" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-12">
                        <div class="pull-right" style="float:right;">
                            <a href="index" class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-outline-success">Add</button>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->


<script src="~/lib/jquery/jquery3.6.4/jquery3.6.4.js"></script>
<partial name="_ValidationScriptsPartial" />

<script src="~/admin/js/vehicletype/vehicletype.js"></script>
