@model IEnumerable<ColoradoLuxury.Models.BLL.VehicleType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/WebCms/Views/Shared/_Layout.cshtml";
}

<style>
    .dataTables_length {
        display: none;
    }

    .dataTables_filter {
        display: none;
    }

    .btn-outline-secondary{
        margin-bottom: 10px
    }
</style>

<div class="col-md-5 my-4">
    <div class="card shadow mb-4">
        <div class="card-header py-4">
            Nwe Vehicles Type Add
        </div>
        <div class="card-body">
            <a href="AddVehicleType" class="btn btn-outline-secondary">Add Vehicle Type</a>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-shorting" id="dataTable">
                    <thead>
                        <tr>
                            <th scope="col">VEHICLE TYPE NAME</th>
                            <th scope="col">EDIT - DELETE</th>
                        </tr>
                    </thead>
                    <tbody>
                           @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.TypeName</td>
                            <td>
                                <div style="display:flex">

                                    <a asp-controller="VehicleType" asp-action="EditVehicleType" class="fas fa-fw fa-pencil-alt updateBtn btnForm" asp-route-Id="@item.Id"></a>
                                        <a asp-controller="VehicleType" asp-action="DeleteVehicleType" asp-route-id="@item.Id" class="btn text-warning" onclick="return confirm('Silmek istediğinizden emin misiniz?')" style=" padding: 1px 0.75rem;"><i class="fas fa-fw fa-trash"></i></a>

                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

