@using ColoradoLuxury.Areas.WebCms.VM;
@model AdminDetailsVM

@{
    Layout = null;
}
<head>
    <style>
        p.validation{
            color: red;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center
        }
    </style>
</head>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V16</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/admin/account/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin/account/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin/account/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin/account/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin/account/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin/account/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin/account/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin/account/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin/account/vendor/daterangepicker/daterangepicker.css">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin/account/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/admin/account/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('~/admin/account/images/bg-01.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    Account Login
                </span>
                <form class="login100-form validate-form p-b-33 p-t-5"  method="post">

                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        <input class="input100" type="text"  placeholder="User name" asp-for="Username">
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password"  placeholder="Password" asp-for="Password">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-32">
                        <button type="submit" class="login100-form-btn">
                            Login
                        </button>
                    </div>
                    <p class="validation">@Html.ValidationMessage("WrongLoginOrPassword")</p>
                </form>
            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/admin/account/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/admin/account/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/admin/account/vendor/bootstrap/js/popper.js"></script>
    <script src="~/admin/account/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/admin/account/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/admin/account/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/admin/account/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/admin/account/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/admin/account/js/main.js"></script>

</body>
</html>