@using ColoradoLuxury.Models.VM;
@model DefineMinimumAmountsAndDistanceVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/WebCms/Views/Shared/_Layout.cshtml";
}
<style>
    .card-body .col-6 .specialSpace {
        margin-bottom: 25px;
    }
</style>
<div class="row">
    <div class="col-md-12 my-4">
        <div class="card shadow mb-4">
            <div class="card-header py-4">
                ENTER RIDE DETAILS PAGES SETTINGS
            </div>
            <div class="card-body">

                <label class="ShowOrNotshowLabelText">Hourly Button</label>
                <select class="form-select btnShowOrNotshow" id="btnHourly">
                    <option value="activ">Show</option>
                    <option value="deactiv">Not Show</option>
                </select>

            </div>

            <hr />
            <div class="row">
                <div class="col-6">
                    <div class="card-header py-4">
                        MIN AND MAX FOR DISTANCE
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-header py-4">
                        MIN AND MAX FOR HOURLY
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form action="/WebCms/FirstPageSettings/Index" method="post">
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group specialSpace ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Minumum Distance Mile</span>
                                </div>
                                <input type="text" class="form-control" aria-label="MinumumDistance" asp-for="MinimumMile" id ="mile" aria-describedby="inputGroup-sizing-default" placeholder="0 Mile"><br />
                                <span style="color:red">@Html.ValidationMessage("MinimumMile")</span>
                            </div>
                            <div class="input-group specialSpace ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Minumum Booking Value $</span>
                                </div>
                                <input type="text" class="form-control" aria-label="MinumumBookingValue" asp-for="MinimumBookingvalueForDistance" id="minimumBookingvalueForDistance" aria-describedby="inputGroup-sizing-default" placeholder="0 $"><br />
                                <span style="color:red">@Html.ValidationMessage("MinimumBookingvalueForDistance")</span>
                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div class="input-group specialSpace ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Minumum Duration Minute</span>
                                </div>
                                <input type="number" class="form-control" aria-label="MinumumDuration" asp-for="MinimumDuration" id="minimumDuration" aria-describedby="inputGroup-sizing-default" placeholder="0 Minute"><br />
                                <span style="color:red">@Html.ValidationMessage("DurationValue")</span>
                            </div>
                            <div class="input-group specialSpace ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Minumum Booking Value $</span>
                                </div>
                                <input type="text" class="form-control" aria-label="MinumumBookingValue" asp-for="MinimumBookingvalueForHourly" id="minimumBookingvalueForHourly" aria-describedby="inputGroup-sizing-default" placeholder="0 $"><br />
                                <span style="color:red">@Html.ValidationMessage("MinimumBookingvalueForHourly")</span>
                            </div>
                            <button type="submit" class="btn btn-outline-success float-right">Save</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="/lib/jquery/jquery3.6.4/jquery3.6.4.js"></script>
<script src="~/admin/js/firstpagesettings/firstpagesettings.js"></script>
<script>
    //=============Hourly Show or Notshow============

    const timeZoneList = document.getElementById('btnHourly');

    timeZoneList.addEventListener('change', (event) => {
        let currentArea = event.target.value;
        localStorage.setItem('btnValueKey', currentArea);
    });

    if (localStorage.getItem('btnValueKey')) {
        timeZoneList.value = localStorage.getItem('btnValueKey');
    }

</script>