
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/WebCms/Views/Shared/_Layout.cshtml";
}
<style>
    .card-body .col-6 .specialSpace {
        margin-bottom: 25px;
    }
</style>
<div class="row">
    <div class="col-md-12 my-4">
        <div class="card shadow mb-4">
            <div class="card-header py-4">
                ENTER RIDE DETAILS PAGES SETTINGS
            </div>
            <div class="card-body">
                
                <label class="ShowOrNotshowLabelText">Hourly Button</label>
                <select class="form-select btnShowOrNotshow" id="btnHourly">
                        <option value="activ">Show</option>
                        <option value="deactiv">Not Show</option>
                    </select>
            
            </div>
          
            <hr />
            <div class="row">
                <div class="col-6">
                    <div class="card-header py-4">
                        MIN AND MAX FOR DISTANCE
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-header py-4">
                        MIN AND MAX FOR HOURLY
                    </div>
                </div>
            </div>
            <div class="card-body">
                
                <div class="row">
                    <div class="col-6">
                        <div class="input-group specialSpace ">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Minumum Distance KM</span>
                            </div>
                            <input type="number" class="form-control" aria-label="MinumumDistance" aria-describedby="inputGroup-sizing-default" placeholder="0 Km">
                        </div>
                        <div class="input-group specialSpace ">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Minumum Booking Value $</span>
                            </div>
                            <input type="number" class="form-control" aria-label="MinumumBookingValue" aria-describedby="inputGroup-sizing-default" placeholder="0 $">
                        </div>
                        <button type="button" class="btn btn-outline-success float-right">Save</button>
                    </div>

                    <div class="col-6">
                        <div class="input-group specialSpace ">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Minumum Duration Minute</span>
                            </div>
                            <input type="number" class="form-control" aria-label="MinumumDuration" aria-describedby="inputGroup-sizing-default" placeholder="0 Minute">
                        </div>
                        <div class="input-group specialSpace ">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Minumum Booking Value $</span>
                            </div>
                            <input type="number" class="form-control" aria-label="MinumumBookingValue" aria-describedby="inputGroup-sizing-default" placeholder="0 $">
                        </div>
                        <button type="button" class="btn btn-outline-success float-right">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //=============Hourly Show or Notshow============

    const timeZoneList = document.getElementById('btnHourly');

    timeZoneList.addEventListener('change', (event) => {
        let currentArea = event.target.value;
        localStorage.setItem('btnValueKey', currentArea);
    });

    if (localStorage.getItem('btnValueKey')) {
        timeZoneList.value = localStorage.getItem('btnValueKey');
    }

</script>