@model ApiSettingsDetail
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/WebCms/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8 my-4">
        <div class="card shadow mb-4">
            <div class="card-header py-4">
                FOR API KEY SETTING
            </div>

            <form action="/WebCms/ForApiKey/AddApiSettingsDetails" method="post">
            <div class="card-body">
                <div class="input-group specialSpace  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Secret API KEY</span>
                    </div>
                    <input type="text" class="form-control" asp-for="Secretkey" aria-label="MinumumDistance" aria-describedby="inputGroup-sizing-default">
                        <span style="color: red">@Html.ValidationMessage("Secretkey")</span>
                </div>
                <div class="input-group specialSpace mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Publishable API KEY</span>
                    </div>
                    <input type="text" class="form-control" asp-for="Publickey" aria-label="MinumumDuration" aria-describedby="inputGroup-sizing-default">
                        <span style="color: red">@Html.ValidationMessage("Publickey")</span>
                </div>

                <button type="submit" class="btn btn-outline-success float-right">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>

@*her odeme procesine id verilmelidi / Straypin icindede olmalidi . bu konuya baxmaliyiq*@