.col-md-12 .card .card-body .btnShowOrNotshow {
  /*  width: 15%;*/
    font-size: 20px;
    border-color: #bfbfbf;
    border-radius: 6px;
    padding: 2px 2px;
    color: #747474;
    padding-left: 10px;
}
.col-md-12 .card .card-body .ShowOrNotshowLabelText {
    margin-right: 10px;
    font-size: 16px;
}

.card-body .col-6 .specialSpace {
    margin-bottom: 25px;
  
}


.card-body .col-md-3 .form-outline {
    margin-top: 18px;
    margin-bottom1:18px;
}
.card-body .col-md-3 label {
    font-size:18px;
    margin-left:10px;
}
.card-body .col-md-3 .couponCode{
    margin-top:14px;
}

.card-body .col-md-3 .btn-outline-secondary {
    height: 42px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}


